<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favoritos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of favoritos" (click)="play(a)" tappable>
      <ion-icon *ngIf="a.played" (click)="$event.stopPropagation(); pause(a)" name="square" item-start></ion-icon>
      <span>{{a.nombre}}</span>
      <ion-icon (click)="$event.stopPropagation(); quitarFavorito(a)" color='danger' name="trash" item-end></ion-icon>
      <ion-icon (click)="$event.stopPropagation(); share(a)" name="share" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>