<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favoritos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let a of favoritos">
      {{a.nombre}}
      <ion-icon *ngIf="!a.played" (click)="play(a)" name="play" item-end></ion-icon>
      <ion-icon *ngIf="a.played" (click)="pause(a)" name="square" item-end></ion-icon>
      <ion-icon  (click)="quitarFavorito(a)" color='danger' name="trash" item-end></ion-icon>
      <ion-icon (click)="share(a)" name="share" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>