<ion-header>
  <ion-toolbar color="amarillo" *ngIf="!enabledSearch">
    <!-- <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Frases de Rolando</ion-title>

    <ion-buttons end>
      <!-- <button (click)="cargarAudios()" ion-button icon-only>
          <ion-icon name="refresh"></ion-icon>
        </button> -->
      <button (click)="showSearch()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar *ngIf="enabledSearch" color="amarillo">
    <ion-searchbar debounce="800" animated="true" showCancelButton="true" placeholder="Buscá una frase de Rolando y la banda"
      [(ngModel)]="searchText" (input)="buscarAudios($event)" cancelButtonText="Cancelar" (ionCancel)="hideSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="cargarAudios($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!errorInternet">
    <ion-item no-padding *ngFor="let a of audiosShow">
      <!-- <ion-icon *ngIf="!a.played" (click)="play(a)" name="play" item-start></ion-icon> -->
      <ion-icon *ngIf="a.played" (click)="pause(a)" name="square" item-start></ion-icon>
      <span (click)="play(a)">{{a.nombre}}</span>

      <ion-icon *ngIf="a.favorito" (click)="agregarQuitarFavorito(a)" color='amarillo' name="heart" item-end></ion-icon>
      <ion-icon *ngIf="!a.favorito" (click)="agregarQuitarFavorito(a)" color='amarillo' name="heart-outline" item-end></ion-icon>
      <!-- <ion-icon  name="download" (click)="download(a)" item-end></ion-icon> -->
      <ion-icon (click)="share(a)" name="share" item-end></ion-icon>
    </ion-item>
  </ion-list>

  <div  *ngIf="errorInternet" text-center margin>
    <h1>  <ion-icon name="alert"></ion-icon> <br>No hay conexíon a internet</h1> 

    <h4>Tire hacia abajo para actualizar</h4>
  </div>
</ion-content>